{% extends 'base.html' %}
<!--  -->
{% block title %}Users{% endblock %}
<!--  -->
{% block content %}

<div class="container">
  <h1>{{post.title}}</h1>
  <p>{{post.content}}</p>
  <p><i>By {{post.users.first_name}} {{post.users.last_name}} </i></p>
  <p>
    <b>
      Tags: {%for tag in tags%}
      <a href="/tags/{{tag.id}}" class="btn btn-primary btn-sm"
        >{{tag.name}}
      </a></b
    >{% endfor %}
  </p>
  <form>
    <button formaction="/users/{{post.users.id}}" class="btn btn-outline-info">
      Cancel
    </button>
    <button
      formaction="/posts/{{post.id}}/edit"
      formmethod="GET"
      class="btn btn-primary"
    >
      Edit
    </button>
    <button
      formaction="/posts/{{post.id}}/delete"
      formmethod="POST"
      class="btn btn-danger"
    >
      Delete
    </button>
  </form>
</div>

{% endblock %}
